template(name="home")
  +Posts featuredPosts
  .row
    .col.m12.m12.centered-text
      a.btn(href="/posts") More
  .footer
    .centered-text
      | Contact: 
      a(href="mailto:entireangle@gmail.com")
        | entireangle@gmail.com
