template(name="PostList")
  .row.no-margin-bottom
    .col.l12.width-fill
      ul.tabs.black-tabs.desktop-center
        li.tab.col.l4.m4.centered-text
          a#pictures-tab-btn.active Pictures 
        li.tab.col.l4.m4.centered-text
          a#tags-tab-btn Tags 
        li.tab.col.l4.m4.centered-text
          a#locations-tab-btn Locations 

  if isTabVisible SYM_PICTURES
    +Posts
  else
    if isTabVisible SYM_TAGS
      .row.desktop-center
        .col.m12.l12.tag-list
          .collection
            each tags
              a.collection-item.centered-text(href="/tags/{{_id}}")
                | {{title}}({{postsCountByTagId _id}})
    else 
      if isTabVisible SYM_LOCATIONS
        +places locations=locations

template(name="Posts")
  .row
    each posts
      if postsOptions
        with postsOptions
          +post
      else
        +post

template(name='post')
  .col.m3.l3.post-desk-font-size
    .thumbnail-box.row
      .col.m12.l12.centered-text
        a(href="/posts/{{_id}}").row
         .col.m12.l12.centered-text
           img.post-image.circle.responsive-img(src="/images/loadingimage.jpg" data-src='{{thumbUrl imageId isVideo}}' data-image-src='{{thumbUrl imageId isVideo}}')
         .post-info.col.m12.l12.centered-text
           .row.zero-margin-bottom
             .col.m12.l12.centered-text
               if title
                 | {{shortenText 15 title}}
               else
                 | &nbsp;

           table
             tr
               th(rowspan='2').profile-wrapper.desktop
                 .right
                   if $not hideUserThumbnail
                     +profileImage user
                   else
                     | &nbsp;
               td.text-outline

             tr
               td.text-outline
                 if $not hideUserThumbnail
                   | {{shortenText 15 user.username}}
                 else
                   | &nbsp;
