#loading-box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 1px;
    background-color: white;
    text-align: center;
    opacity: 0.4;
}
#loading-box div{
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}
#button-toggle-group{
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;

}
