body {
  background-color: black;
  color: white;

}
a:link, a:visited, a:hover, a:active{
  color: white;
  text-decoration: none;
}

#loading-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 1px;
    background-color: white;
    text-align: center;
    opacity: 0.4;
}

#loading-box div {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

#button-toggle-group {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}

#hidden-video {
    display: none;
}

#story-post-list{
    overflow-y: scroll;
    min-height: 400px;
    width: 100%;
    background-color: lightgray;
}
#story-post-list img{
    width: 100%
}

#list-fetching-bar{
    display: none;
    text-align: center;
    height: 50px;
    font-size: 20px;
    background-color: lightblue;
    padding-top: 10px;
    color: darkblue;
}

.form-group{
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.form-loading{
  display: none;
}
#account-box{
  background-color: #111;
  color: black;
  width: 100%;
  padding: 10%;
  text-align: center;
}
#account-box #login-btn{
  background-color: #111;
  color: darkgray;
  border-color: darkgray;
  border-style: solid;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}


@media screen and (min-device-width: 0px){
  #account-box #login-btn{
    font-size:10px;
  }
  .tab span{
    font-size: 15px;

  }
  img#logo{
    width: 125px;
  }
}
@media screen and (min-device-width: 550px){
  #account-box #login-btn{
    font-size:20px;
  }
  .tab span{
    font-size: 30px;

  }
  img#logo{
    width: 250px;
  }
}

#account-box #username{
  font-size: 20px;
  color: darkgray;
}

.tab {
}

#slide-up-menu{
  background-color: white;
  opacity: 0.8
}
