body {
  background-color: black;
  color: white;

}
a:link, a:visited, a:hover, a:active{
  color: white;
  text-decoration: none;
}

#loading-box{
  width: 100%;
  height: 100%;
  background-color:black;
  padding-top: 200px;
  color:white;
}
#loading-box div{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
  width: 150px;
  height: 50px;
  text-align:center;
}

#button-toggle-group {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}

#hidden-video {
    display: none;
}

#story-post-list{
    overflow-y: scroll;
    min-height: 400px;
    width: 100%;
    background-color: lightgray;
}
#story-post-list img{
    width: 100%
}

#list-fetching-bar{
    display: none;
    text-align: center;
    height: 50px;
    font-size: 20px;
    background-color: lightgray;
    padding-top: 10px;
    color: darkblue;
}

.form-group{
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.form-loading{
  display: none;
}
#account-box{
  background-color: #111;
  color: black;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#account-box #login-btn{
  background-color: #111;
  color: darkgray;
  border-color: darkgray;
  border-style: solid;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
}


@media screen and (min-device-width: 0px){
  #account-box #login-btn{
    font-size:10px;
  }
  .tab span{
    font-size: 15px;

  }
  img#logo{
    width: 125px;
  }
}
@media screen and (min-device-width: 550px){
  #account-box #login-btn{
    font-size:20px;
  }
  .tab span{
    font-size: 30px;

  }
  img#logo{
    width: 250px;
  }
}

#account-box #username{
  font-size: 20px;
  color: darkgray;
}

.tab {
}

#term-button{
  color:black;
}
.modal{
  color:black;
}
.modal-backdrop{
  z-index: -1;
}
#slide-up-menu{
  color:black;
  opacity: 0.8;
  /*display:none;*/
  width:100%;
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  padding-top:0px;
}
#slide-up-menu #scrollable{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background-color:white;
  padding-top: 20px;
}
#slide-up-menu #slide-up-handle{
  font-size: 20px;
  background-color:#EEE;
}

#info{
  display:none;
}

.title-field{
  font-size: 20px;
  margin-top: 10px;
}

.comment .user{
  font-weight: bold;
}

.comment-edit-form-wrapper{
  display: none;
}

.width-fill{
  width: 100%;
}
a.shareit-google-colors{
  background-color: red;
}

.profile-image{
  display:inline-block;
  width: 50px; 
  height: 50px; 
  font-size:30px; 
  text-align:center; 
  background-color: black;
}