body {
  background-color: black;
  color: white;

}
a:link, a:visited, a:hover, a:active{
  color: white;
  text-decoration: none;
}

#loading-box{
  width: 100%;
  height: 100%;
  background-color:black;
  padding-top: 200px;
  color:white;
}
#loading-box div{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
  width: 150px;
  height: 50px;
  text-align:center;
}

#button-toggle-group {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}

#hidden-video {
    display: none;
}

#story-post-list{
    overflow-y: scroll;
    min-height: 400px;
    width: 100%;
    background-color: lightgray;
}
#story-post-list img{
    width: 100%
}

#list-fetching-bar{
    display: none;
    text-align: center;
    height: 50px;
    font-size: 20px;
    background-color: lightgray;
    padding-top: 10px;
    color: darkblue;
}

.form-group{
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.form-loading{
  display: none;
}
#account-box{
  background-color: #111;
  color: black;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#account-box #login-btn{
  background-color: #111;
  color: darkgray;
  border-color: darkgray;
  border-style: solid;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
}


@media screen and (min-device-width: 0px){
  #account-box #login-btn{
    font-size:10px;
  }
  .tab span{
    font-size: 15px;

  }
  img#logo{
    width: 100%;
  }
}
@media screen and (min-device-width: 550px){
  #account-box #login-btn{
    font-size:20px;
  }
  .tab span{
    font-size: 30px;

  }
}

#account-box #username{
  font-size: 20px;
  color: darkgray;
}

.tab {
}

#term-button{
  color:black;
}
.modal{
  color:black;
}
.modal-backdrop{
  z-index: -1;
}
#slide-up-menu{
  color:black;
  opacity: 0.8;
  /*display:none;*/
  width:100%;
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  padding-top:0px;
}
#slide-up-menu #scrollable{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background-color:white;
  padding-top: 20px;
}
#slide-up-menu #slide-up-handle{
  font-size: 20px;
  background-color:#EEE;
}

#info{
  display:none;
}

.title-field{
  font-size: 20px;
  margin-top: 10px;
}

.comment .user{
  font-weight: bold;
}

.comment-edit-form-wrapper{
  display: none;
}

.width-fill{
  width: 100%;
}
a.shareit-google-colors{
  background-color: red;
}

.profile-image{
  display:inline-block;
  font-size:30px; 
  padding: 5px;
  text-align:center; 
  background-color: white;
  border-radius: 25px;
}

.col-force-padding-zero{
  padding: 0px!important;
}
.col-force-padding-top{
  padding-top: 10px!important;
}
.white-text{
  color: white;
}
.black-text{
  color: black;
}

.thumbnail-box{
  margin-bottom: 5px;
}

.post-info {
  position: relative;
  top: -16px;
}
.post-info table{
  line-height: 0.5;
}
.post-info table td{
  width: 75%;
  padding: 0px;
}
.post-info table th{
  width: 35%;
  padding: 0px;
}

#logo{
  width: 100%;
}

.btn-tiny{
  height: 24px;
  line-height: 18px;
  padding: 0 0.5rem;
  font-size: 0.8em!important;
}


.no-side-padding{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.close-modal-button{
  position: fixed;
  left: 5%;
  color: black;
  top: 5%;
}

.close-modal-button i{
  color: black;
}

.clear-both{
  clear:both;
}

.width-fill{
  width: 100%;
}

.right-text{
  text-align: right;
}

.left-text{
  text-align: left;
}
