input[type='email'],input[type='password']{
}
.account-window{
  background-color:black; 
  opacity: 0.9;
  padding: 20px;
  padding-top: 0px;
  border-style:solid;
  border-width:1px;
  border-color: white;
}
.error-message{
  color: red;
}

