/*body {*/


/*margin: 0px;*/


/*overflow: hidden;*/


/*}*/

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#info {
    position: fixed;
    height: 50px;
    top: 0;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#button-container {
    background-color: white;
    padding: 5px;
    opacity: 0.7;
    border-radius: 5px;
    border: 2px solid;
}

#embed-url-string {
    width: 100%;
}

.post-item {
    padding: 20px;
    margin-bottom: 20px;
}
.post-item img{
  width: 100%;
}

.loading-bg {
    background-image: url('/images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}



#menu-bar{
  position:absolute;
  z-index: 999;
  bottom: 0px;
  width: 100%;
  font-size: 3.1em;
}

#desktop-menu-bar{
  position:absolute;
  z-index: 999;
  top: 60px;
  left: 0px;
  width: 100%;
  font-size: 2em;
}
.zoom-buttons{
  position:absolute;
  z-index: 999;

}
.zoom-buttons.mobile{
  bottom: 15%;
  left: 5px;
  opacity: 0.7;
}
.zoom-buttons i{
  font-size: 40px;
}

.zoom-buttons.desktop{
  top: 200px;
  left: 20px;
  font-size: 2em;
}


#menu-bar td{
  padding: 0px;
}  
#menu-bar .menu-button{
  width: 22%;
  text-align: center;
}

#menu-bar .more-button{
  width: 12%;
  border-width: 1px;
  border-color: grey;
  text-align: center;
}

td.sns-icon-box{
  width: 100%;
  text-align:center;
  padding-top: 3px;
  padding-bottom: 3px;
}
#share-modal{
  z-index: 99999;
}

.sns-icon-box i{
  text-align:center;
}


#share-modal .sns-title-box{
  width: 85%;
  color: black;
  padding-left: 20px;
  font-size: 20px;
}
.sns-title-box a{
  color: black;
  width: 70%;
}

.yellow-text{
  color: yellow;
}
.black-text{
  color: black;
}
.selected-mode{
  background-color: lightblue;
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
}
#more-dropdown .li{
  font-size: 2em;
}

.modal-opacity{
  /*opacity: 0.8!important;*/
}

.no-comment-text{
  color: grey;
}

.centered-text{
  text-align: center!important;
}

#content-modal.mobile{
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

.small-padding-btn{
  padding-left: 5px;
  padding-right: 5px;
}

.comment-text{
  margin-top: 5%!important;
}

#content-modal{
  max-height: 90%;
}

.edit-title{
  font-size: 2rem!important;
  text-align: center;
}

.edit-desc{
  text-align: center;
  min-height: 100px;
}

.comment-count-number{
  padding: 2% 13%;
  font-size: 1rem;
  border-radius: 45%;
  position: fixed;
  bottom: 12%;
  right: 9%;

}

.more-menu-items{
  font-size: 1.5rem;
  text-align: center;
}
.next-prev-post{
  z-index: 99999;
  position: fixed;
  top: 40%;
  color: white;
}

.next-prev-post i{
  font-size: 55px;
  opacity: 0.3;
}


#nextPostButton{
  right: 1%;
}
#prevPostButton{
  left: 1%;
}

i.stroke{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  text-shadow: 1px 1px black;
}

#upload-btn-label{
  font-size: 0.7rem;
}

.arrow_box {
  position: fixed;
  background: #ff1f1f;
  padding: 5px;
  z-index: 99999;
}
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 31, 31, 0);
  border-top-color: #ff1f1f;
  border-width: 10px;
  margin-left: -10px;
}


#uploading-list{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  overflow: hidden;
  width: 100%;
}
#uploading-list ul{
  width: 2000px;
}
#uploading-list li{
  display: inline-block;
}
.uploading-item{
  padding: 10px;
}
.uploading-item.active{
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

#uploading-list img{
  width: 70px;
}

#uploading-list .btn{
  width: 70px;
}

#all-posts-list img{
  width: 100%;
}
