/*body {*/


/*margin: 0px;*/


/*overflow: hidden;*/


/*}*/

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#info {
    position: fixed;
    height: 50px;
    top: 0;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#button-container {
    background-color: white;
    padding: 5px;
    opacity: 0.7;
    border-radius: 5px;
    border: 2px solid;
}

#embed-url-string {
    width: 100%;
}

.post-item {
    padding: 20px;
    margin-bottom: 20px;
}
.post-item img{
  width: 100%;
}

.loading-bg {
    background-image: url('/images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}
