/*body {*/


/*margin: 0px;*/


/*overflow: hidden;*/


/*}*/

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#info {
    position: fixed;
    height: 50px;
    top: 0;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#button-container {
    background-color: white;
    padding: 5px;
    opacity: 0.7;
    border-radius: 5px;
    border: 2px solid;
}

#embed-url-string {
    width: 100%;
}

.post-item {
    padding: 20px;
    margin-bottom: 20px;
}
.post-item img{
  width: 100%;
}

.loading-bg {
    background-image: url('/images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}



#menu-bar{
  position:absolute;
  z-index: 999;
  bottom: 0px;
  width: 100%;
  font-size: 3.1em;
}

#menu-bar td{
  padding: 0px;
}  
#menu-bar .menu-button{
  width: 22%;
  text-align: center;
}

#menu-bar .more-button{
  width: 12%;
  border-width: 1px;
  border-color: grey;
  text-align: center;
}

#share-modal{
  z-index: 99999;
}

#share-modal .sns-icon-box{
  width: 15%;
}
.sns-icon-box a{
  padding-top: 30%;
  padding-bottom: 30%;
}

.sns-icon-box i{
  width: 30px;
  text-align:center;
}


#share-modal .sns-title-box{
  width: 85%;
  color: black;
  padding-left: 20px;
  font-size: 20px;
}
.sns-title-box a{
  color: black;
  width: 70%;
}

.yellow-text{
  color: yellow;
}

#more-dropdown .li{
  font-size: 2em;
}

.modal{
  opacity: 0.8!important;
}

.no-comment-text{
  color: grey;
}

.centered-text{
  text-align: center!important;
}

#content-modal{
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

.small-padding-btn{
  padding-left: 5px;
  padding-right: 5px;
}

.comment-text{
  margin-top: 5%!important;
}

#content-modal{
  max-height: 90%;
}

.edit-title{
  font-size: 2rem!important;
  text-align: center;
}

.edit-desc{
  text-align: center;
  min-height: 100px;
}

#edit-button{
  position: fixed;
  left: 5%;
  top: 15%;
}

.comment-count-number{
  padding: 2% 13%;
  font-size: 1rem;
  border-radius: 45%;
  position: fixed;
  bottom: 12%;
  right: 9%;

}

.more-menu-items{
  font-size: 1.5rem;
  text-align: center;
}
