template(name='About')
  .center-block.text-center
    h3 How to use it 
    hr
    p(style='font-size: 15px;')
      ul(style='list-style-type: none')
        li TAKE A SPHERCIAL PICTURE
        li POST(UPLOAD THE PICTURE)
        li ENJOY IT WIT VR DEVICES(ex: oculus rift, google cardboard)
        li SHARE!
    br
    br
    h3 Contact
    hr
    a(href='mailto:entireangle@gmail.com') entireangle@gmail.com

