<template name="About">
  <div class="center-block text-center">
    <h3> How to use it </h3>
    <hr>
    <p style="font-size: 15px;">
      <ul style="list-style-type: none">
        <li>TAKE A SPHERCIAL PICTURE</li>
        <li>POST(UPLOAD THE PICTURE)</li>
        <li>ENJOY IT WIT VR DEVICES(ex: oculus rift, google cardboard)</li>
        <li>SHARE!</li>
      </ul>
    </p>
    <br>
    <br>
    <h3>Contact</h3>
    <hr>
    <a href="mailto:entireangle@gmail.com">entireangle@gmail.com</a>
  </div>
</template>
