template(name="comments")
  #comments
    if isLoggedIn
      form#comment-form
        input.width-fill(type="text" name="commentText" placeholder="Write comment")
    else
      button.btn.width-fill.please-login Plase login to write comment 
      br
      br
      br
      
    if hasAnyComments
      each comments
        .comment.row(data-id="{{_id}}")
          .comment-content.col.s12.no-side-padding 
            .row
              .col.s3.no-side-padding
                .commentProfileImage
                  a(href="/users/{{user._id}}")
                    +profileImage user
                .commentUserName
                  | {{user.username}}
              .col.s7.comment-text
                | {{commentText}}
              .col.s2
                if isMyComment this
                  button.btn.edit-comment-button.small-padding-btn
                    i.material-icons mode_edit
                  button.btn.remove-comment-button.small-padding-btn.red.darken-2
                    i.material-icons remove 
          .col.s12.comment-edit-form-wrapper
            .row
              .col.s12.no-side-padding 
                  form.comment-edit-form
                    input.width-fill(type="text" name="commentText" value="{{commentText}}")
                    br
                    button.btn.btn-tiny.green(type='submit') Save
                    button.btn.btn-tiny.cancel-comment-button.white.black-text Cancel
          hr
      if showMoreCommentButton
        button.btn.btn-xs#comment-more-button
          | More comments
    else
      .no-comment-text There isn't any comments
