template(name='forgotpassword') 
  #forgot-password.account-window.center-block.text-center.black-account-window.modal-window
    .content
      if sentMail
        .row
          .col.s12
            h5 We just sent you email to reset your password. please check you email
        .row
          .col.s12.centered-text
            button#close-reset-button.btn Got it 
      else
        .row
          .col.s12.centered-text
            h6 Reset password 
        .row
          form#reset-form.col.s12(action='action')
            .row
              .col.s12.input-field
                input#reset-email.email-field(type='email', name="email")
                label(for="email") Email
                if emailMsg
                  .error-message 
                    ul
                      li
                        | {{emailMsg}}


            .row
              .col.s12.centered-text
                input#reset-button.btn.green(type='submit', value='Reset password')
            .row
              .col.s12.centered-text
                button#close-reset-button.btn Close
            .row
              .col.s12.centered-text
                #register-form-loading.form-loading
                  img(src="/images/loading.gif")
