template(name='forgotpassword') 
  #forgot-password.account-window.center-block.text-center
    if sentMail
      h3 We just sent you email to reset your password. please check you email
      button#close-reset-button.btn.btn-default.btn-large Got it 
    else
      h3 Reset password 
      hr
      form#reset-form.center-block.text-center(action='action')
        .form-group.center-block.text-center
          input#reset-email.email-field.form-control.text-center(type='email', placeholder="email")
          if emailMsg
            .error-message 
              ul
                li
                  | {{emailMsg}}

        input#reset-button.btn.btn-warning.btn-large(type='submit', value='Reset password')
        button#close-reset-button.btn.btn-default.btn-large Close
        #register-form-loading.form-loading
          img(src="/images/loading.gif")
