template(name="home")
  .container-fluid
    .row.center-block
      each featuredPosts 
        +post
        
  .center-block(style="text-align:center;color:black")
    a(href="/posts")
      button.btn.btn-deafult More