template(name="layout")
  +Scene
    +HeaderFooterLayout id="header-footer"
      +Node id="tab" position = "[ 0, -300 ]"
        +Node position = "[ 0, 5 ]"
          +DOMElement
            img(id="logo" src="/images/logo.png")
        +TabMenuLayout id="tabMenu"
          +famousEach menuItems
            +Node
              +DOMElement
                a.tab(href=url)
                  span
                    | #{title}
        +AccountBox
          +DOMElement
            #account-box
              if isLoggedIn 
                a.tab(href="/mypage")
                  i(class="icon-user icon-white")
                  span(id=username)
                    | #{username}
              else
                button#login-btn
                  span Login


      +Node id="content"
        +DOMElement
          +yield

    +ModalWindow id="login-form"        
      +DOMElement
        +login
    +ModalWindow id="register-form"            
      +DOMElement
        +register
    +ModalWindow id="forgot-password"            
      +DOMElement
        +forgotpassword
    +ModalWindow id="reset-form"            
      +DOMElement
        +resetpassword

template(name="_loginButtonsAdditionalLoggedInDropdownActions")
