template(name="login")
  #login-window.account-window.center-block.text-center
    if isLoggedIn
      <h3>Successfully logged in</h3>
    else
      h3 Login
      hr
      if loginTopMessage
        h6 loginTopMessage
        hr
      form#login-form.center-block.text-center(action='action')
        .form-group.center-block.text-center
          input#login-email.email-field.form-control.text-center(type='email', placeholder="email")
        .form-group.center-block.text-center
          input#login-password.form-control.text-center(type='password', placeholder="password")

        if loginMsg
          #login-msg.error-message 
            ul
              li
                | {{loginMsg}}
        input#login-button.btn.btn-warning.btn-large(type='submit', value='Sign in')
        button#close-login-button.btn.btn-default.btn-large Close
        br
        br
        br
        button.btn.btn-primary.login-with-facebook 
         | Login with Facebook
        br
        br
        br
        button#register-button.btn.btn-default Don't have account?
        br
        br
        button#reset-password-button.btn.btn-default Forgot password?


