template(name='Mypage')
  button#logout.btn.btn-danger Logout
  form#user-form.center-block.text-center(role='form', style='max-width: 300px;')
    .form-group
      input.form-control(type='text', name='username', placeholder='Enter Username', value='{{username}}')
    button.btn.btn-default(type='submit') Submit
    button#mypage-cancel-button.btn.btn-primary(type='button') Cancel

