template(name="notifications")
  #notifications
    ul.collection
      each notifications
        li.collection-item.notification
          if $eq notiType "comment"
            +commentNotification
          if $eq notiType "like"
            +likeNotification

template(name="commentNotification")
  .comment-notification.post-notification
    a.noti-btn.waves-effect.waves-light(href="/posts/{{post._id}}?from_notification=1")
      with post.user
        +profileImage  
      | {{actioner.username}} commented on {{receiverName post.user}} photo
      | - 
      span
        | {{livestamp createdAt}}
 
template(name="likeNotification")
  .like-notification.post-notification
    a.noti-btn.waves-effect.waves-light(href="/posts/{{post._id}}?from_notification=1")
      with post.user
        +profileImage  
      | {{actioner.username}} liked {{receiverName post.user}} photo
      | - 
      span
        | {{livestamp createdAt}}
