template(name="password_input")
  .row.small-margin-bottom
    .col.s12.input-field
      input.password-input.form-control.text-center(type='password')
      label(for="password") Password
  .row.small-margin-bottom
    .col.s12.input-field
      input.password-reinput.form-control.text-center(type='password', name="retype_password")
      label(for="retype_password") Retype password

