template(name="password_input")
  .form-group.center-block.text-center
    input.password-input.form-control.text-center(type='password', placeholder="password")
  .form-group.center-block.text-center
    input.password-reinput.form-control.text-center(type='password', placeholder="retype-password")

