template(name='PostsNew')
  .center-block.text-center
    h3 Upload new image
    hr
    br
    br
    form#upload-files
      .form-group
        label(for="files-select")
          |  Select files to upload(MAX: 10 files)
        input(type="file" name="files-select" multiple)
    #in-progress-file-list
      each imagesInProgress
        +imageInProgress

template(name='imageInProgress')
  .image-in-progress
    if isUploaded
      span
        img(src=thumbnailUrl)
    else
      span
        uploading image

    span 
      | {{filename}}
    span
      unless isUploaded
        +FS.UploadProgressBar class='progress-bar-success progress-bar-striped active' showPercent=true

    +autoForm id="post-new-form" type="insert" collection="Post"
      .form-group
        +afQuickField name="title"
      .form-group
        +afQuickField name="desc"
      .form-group
        +afQuickField name="isPublished"
        +afQuickField name="imageId" value=_id

      button(type="submit") Submit
      button.delete-image-in-progress Delete 
