template(name='PostsShow')
  #container(style='width:100%; height:100%')
  if nextPostUrl
    #nextPostButton.next-prev-post.hide-on-modal
      a.waves-effect.waves-light(href=nextPostUrl)
        i.stroke.material-icons &#xE409;
  if prevPostUrl
    #prevPostButton.next-prev-post.hide-on-modal
      a.waves-effect.waves-light(href=prevPostUrl)
        i.stroke.material-icons &#xE408;
  if isArrowVisible 
    .arrow_box.hide
      | Write about your picture and publish! 
  .zoom-buttons.desktop.hide-on-modal
    a.zoom-in-btn.inpage-buttons(href="")
      i.stroke.material-icons.white-text zoom_in
    br
    a.zoom-out-btn.inpage-buttons(href="")
      i.stroke.material-icons.white-text zoom_out


  if isUploadingListVisible
    #uploading-list.hide-on-modal
      ul
        each forcusedPosts 
          if $eq post._id _id
            li.uploading-item.active
              a(href="/posts/{{_id}}?isUploading=1")
                img(src="{{thumbUrl imageId false}}")
          else
            li.uploading-item
              a(href="/posts/{{_id}}?isUploading=1")
                img(src="{{thumbUrl imageId false}}")
        if moreButtonVisible 
          li.more-items.uploading-item
            a.modal-trigger.inpage-buttons(href="#more-posts-modal")
              img(src="/images/morebtn.png")

      

  #desktop-menu-bar.hide-on-modal
    .row
      .col.l1.m1
        a.waves-effect.waves-light.share-button.modal-trigger.inpage-buttons(href="#share-modal")
          i.stroke.mdi-social-share.white-text
      .col.l1.m1
        if didILikeIt
          a.waves-effect.waves-light.unlike-button.inpage-buttons
            i.stroke.mdi-action-star-rate.yellow-text
        else
          a.waves-effect.waves-light.like-button.inpage-buttons
            i.stroke.mdi-action-star-rate.white-text
      .col.l1.m1
        a.waves-effect.waves-light.inpage-buttons.content-edit-button
          i.stroke.mdi-content-create.white-text
          span.red.comment-count-number
            | {{numberOfComments}}
      if isMyPost
        .col.l1.m1
          a#remove-button.waves-effect.waves-light.inpage-buttons.width-fill
            i.stroke.mdi-action-delete.white-text
      if isMyPost
        .col.l1.m1
          a#position-save-button.waves-effect.waves-light.inpage-buttons.width-fill
            i.stroke.mdi-editor-vertical-align-bottom.white-text
            
      .col.l1.m1
        a.waves-effect.waves-light.modal-trigger.inpage-buttons(href="#view-mode-modal-mobile")
          //if isInVRMode
            //i.mdi-action-visibility.yellow-text
          //else
          i.stroke.mdi-action-visibility.white-text

            
  #share-modal.modal.bottom-sheet.modal-opacity
    .modal-content.centered-text
      .modal-content.centered-text
        h4.centered-text Sharing action
        hr
        .snsList
          +shareit


  #more-posts-modal.modal.modal-opacity
    button.btn.btn-floating.left.white.black-text.close-modal-button.waves-effect.waves-light
      i.material-icons close 
    .modal-content
      .row#all-posts-list
        each posts
          .col.l3.m3
            if $eq post._id _id
              .uploading-item.active
                a(href="/posts/{{_id}}?isUploading=1")
                  img(src="{{thumbUrl imageId false}}")
            else
              .uploading-item
                a(href="/posts/{{_id}}?isUploading=1")
                  img(src="{{thumbUrl imageId false}}")



  #view-mode-modal-mobile.modal.bottom-sheet.modal-opacity
    .modal-content
      ul
        li.more-menu-items
          a#ball-mode-button.waves-effect.waves-light.inpage-buttons.width-fill
            .row(class=modeBALLSelectedClass)
              .col.s4.right-text
                  i.mdi-action-swap-vert-circle.black-text
              .col.s8.left-text.black-text
                | Mirror Ball 
          a#planet-mode-button.waves-effect.waves-light.inpage-buttons.width-fill
            .row(class=modePlanetSelectedClass)
              .col.s4.right-text
                  i.mdi-image-lens.black-text
              .col.s8.left-text.black-text
                | Little Planet 
