<template name="PostsShow">
  <div id="container"></div>
  <div id="info">
    <div id="button-container" class="btn-group" role="group">
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#menuModal">Menu</button>
      <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#infoModal">Info</button>
      <button id="vr-mode-button" class="btn btn-success btn-xs">VR mode</button>
      {{#if isMyPost}}
        <button id="remove-button" class="btn btn-danger btn-xs">Delete</button>
      {{/if}}
    </div>
  </div>

  <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>Share</h4>
          <hr>
          <div class="btn-group" role="group">
            <button class="btn btn-default btn-xs">Facebook</button>
            <button class="btn btn-default btn-xs">Twitter</button>
            <button class="btn btn-default btn-xs">Pinterest</button>
            <button class="btn btn-default btn-xs">Instagram</button>
          </div>
          <br>
          <br>
          <br>
          <h4>Embded</h4>
          <hr>
        </div>
        <!--<div class="modal-footer">-->
          <!--<form action="/images/<%= image.id %>/delete" method="post">-->
            <!--<input type="submit" class="btn btn-danger" value="Delete"></input>-->
          <!--</form>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>
            {{desc}}
          </p>
        </div>

        <div class="modal-footer">
          <h4>Comments</h4>
          <form action="">
            <input type="text">
            <input type="submit">
          </form>
          <ul>
            <li>comment1</li>
            <li>comment2</li>
            <li>comment3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="NoneVRModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Your web browser is not supporting VR mode</h4>
        </div>
        <div class="modal-body">
          <h4>HMD(ex Oculus Rift) with Windows or Mac osx</h4>
          <p class="lead">
            You need to visit this website with <a href="https://nightly.mozilla.org">Firefox Nightly</a> or <a href="https://code.google.com/p/chromium">Chromium</a>
          </p>
          <h4>For Android user.(EX: Google cardboard)</h4>
          <p class="lead">
            You need to use a web browers that support WebL(ex: Chrome)
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
