template(name='PostsShow')
  #container.loading-bg(style='width:100%; height:100%')
  #info
    #button-container.btn-group(role='group')
      unless isEmbedded
        button#home-button.btn.btn-warning.btn-xs Explore
        button.btn.btn-primary.btn-xs.shareModalOpenBtn Share
        button.btn.btn-info.btn-xs(data-toggle='modal', data-target='#infoModal') Info

      if didILikeIt
        button.btn.btn-warn.btn-xs.unlike-button Unlike 
      else
        button.btn.btn-primary.btn-xs.like-button Like 

      button#vr-mode-button.btn.btn-success.btn-xs VR mode
      unless isEmbedded
        if isMyPost                                               
          button#remove-button.btn.btn-danger.btn-xs Delete

        button#position-save-button.btn.btn-success.btn-xs(style='display:none') Save Position
  unless isEmbedded

    #shareModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            button#share-modal-close-btn.close(type='button', aria-label='Close')
              span(aria-hidden='true') ×
            h3 Share
            h5 Share preview
            #share-buttons-layout.block-center.text-center
              .share-preview
              button.btn.btn-default#save-preview-button Share this view
              hr
              .btn-group(role='group').text-center.block-center.sns-buttons
                +shareit
            br
            br
            br
            h4.text-center Embed
            hr
            input#embed-url-string(type='text', value='{{embedUrl}}')

    #infoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          button#edit-button.btn
            | edit
          form#edit-post
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title.view-box {{title}}
              input.edit-field(type='text', name='title', value='{{title}}')
            .modal-body
              p.timestamp
                | {{createdAt}}
              p.view-box
                pre
                  | \n{{desc}}                    

              input.edit-field(type="checkbox" name="isPublished" checked="{{isPublished}}")
              label.edit-field(for="isPublished") Publish on list
              br
              textarea.edit-field(name='desc') {{desc}}
              br
              if isMyPost
                button.btn.btn-xs.btn.edit-field(type='submit')
                  | Done
                button#edit-button.btn.btn-warning.btn-xs.view-box
                  | Edit
                  
          .modal-body
            +comments
                  
          .modal-footer

  #NoneVRModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Your web browser is not supporting VR mode
        .modal-body
          h4 HMD(ex Oculus Rift) with Windows or Mac osx
          p.lead
            | You need to visit this website with 
            a(href='https://nightly.mozilla.org') Firefox Nightly
            |  or 
            a(href='https://code.google.com/p/chromium') Chromium
          h4 For Android user.(EX: Google cardboard)
          p.lead
            | You need to use a web browers that support WebL(ex: Chrome)
