template(name='Posts')
  #button-toggle-group.btn-group(data-toggle='buttons-radio')
    button#image-list.btn.btn-info.list-tabs.active(type='button', aria-pressed='true') Image
    button#video-list.btn.btn-info.list-tabs(type='button') Video
  br
  .container-fluid
    .row.center-block
      each posts 
        +post

template(name='post')
  .col-lg-3.col-md-4.col-sm-5.col-xs-12.center-block.text-center.post-item
    a(href="{{pathFor route='posts.show' data=this}}")
      .loading-bg
        img.img-circle(src='{{thumbUrl imageId isVideo}}')
      h4 title
        if isVideo
          span.label.label-success video
    a.user-link(href="{{pathFor route='users.show' data=user}}")
      em By {{user.username}}

