<!--<template name="Posts">-->
    <!--<div id="button-toggle-group" class="btn-group" data-toggle="buttons-radio">-->
        <!--<button id="image-list" type="button" class="btn btn-info list-tabs active" aria-pressed="true">Image</button>-->
        <!--<button id="video-list" type="button" class="btn btn-info list-tabs">Video</button>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row center-block">-->
            <!--{{#each posts}} {{> post}} {{/each}}-->

        <!--</div>-->
    <!--</div>-->

<!--</template>-->

<!--<template name="post">-->
    <!--<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 center-block text-center post-item">-->
        <!--<a href="{{pathFor route='posts.show' data=this}}">-->
            <!--<div class="loading-bg">-->
                <!--<img class="img-circle" src="{{thumbUrl imageId isVideo}}">-->
            <!--</div>-->
            <!--<h4>{{title}}</h4> {{#if isVideo}}-->
            <!--<span class="label label-success">video</span> {{/if}}-->

        <!--</a>-->
        <!--<a class="user-link" href="{{pathFor route='users.show' data=user}}"> <em>By {{user.username}}</em></a>-->
    <!--</div>-->
<!--</template>-->
