template(name="resetpassword")
  #reset-window.account-window.center-block.text-center
    if resetedPassword
      h3 Your password is reseted sucessfully.
    else
      h3 Reset Password 
      hr
      form#reset-form.center-block.text-center(action='action')
        +password_input
        if passwordMsg
          .error-message
            ul
              li
                | {{passwordMsg}}

        if passwordMatchMsg
          .error-message
            ul
              li
                | {{passwordMatchMsg}}

        if resetMsg
          .error-message
            ul
              li
                | {{resetMsg}}

        input#reset-button.btn.btn-warning.btn-large(type='submit', value='Reset')
        button#close-reset-button.btn.btn-default.btn-large Close
        #reset-form-loading.form-loading
          img(src="/images/loading.gif")
