template(name="resetpassword")
  #reset-window.account-window.center-block.text-center.black-account-window
    .content
      if resetedPassword
        h3 Your password is reseted sucessfully.
      else
        .row
          .col.s12
            h6 Reset Password 
        .row
        form#reset-form.col.s12(action='action')
          +password_input
          .row
            .col.s12
              if passwordMsg
                .error-message
                  ul
                    li
                      | {{passwordMsg}}

              if passwordMatchMsg
                .error-message
                  ul
                    li
                      | {{passwordMatchMsg}}

              if resetMsg
                .error-message
                  ul
                    li
                      | {{resetMsg}}

          .row
            .col.s6
              input#reset-button.btn.green(type='submit', value='Reset')
            .col.s6
              button#close-reset-button.btn Close
          .row
            .col.s12
              #reset-form-loading.form-loading
                img(src="/images/loading.gif")
