template(name="sharePreview")
  #shareModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          button#share-modal-close-btn.close(type='button', aria-label='Close')
            span(aria-hidden='true') ×
          h3 Share
          h5 Share preview
          #share-buttons-layout.block-center.text-center
            .share-preview
            button.btn.btn-default#save-preview-button Share this view
            hr
            .btn-group(role='group').text-center.block-center.sns-buttons
              +shareit
          br
          br
          br
          h4.text-center Embed
          hr
          input#embed-url-string(type='text', value='{{embedUrl}}')