template(name="slideUpMenu")
  button(class="btn default") menu
  button(class="btn default") menu
  button(class="btn default") menu
  button(class="btn default") menu
  h3 title
  pre descriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescription
