template(name="slideUpMenu")
  #slide-up-menu.block-center.text-center
    #slide-up-handle
      <span>Swipe Up!</span>
      hr
    if post
      #scrollable
        button#slide-up-share.btn.btn-primary.btn-xs Share
        if isMyPost
          buttotn#slide-up-edit.btn.btn-warning.btn-xs Edit
          button#slide-up-remove.btn.btn-danger.btn-xs.page-change Remove
        button#slide-up-vr-mode.btn.btn-success.btn-xs VR Mode

        form#slide-up-edit-post
          div 
            | {{post.user.username}}

          h3.view-box
            | {{post.title}}
          .form-group
            input.form-control.text-center.edit-field.title-field(type="text", name="title", value="{{post.title}}")

          pre.view-box 
            | {{post.desc}} 
          .form-group
            textarea.form-control.edit-field.desc-field(name='desc') {{post.desc}}
          .form-group
            button.btn.btn-xs.edit-field(type='submit')
              | Save
            button#slide-up-cancel.btn.btn-xs.btn-danger.edit-field
              | Cancel
        
        +comments

    #shareModalSlideUp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.text-center Share
            hr
            .btn-group(role='group').text-center.block-center
              +shareit
            br
            br
            br
            h4.text-center Embed
            hr
            input#embed-url-string(type='text', value='{{embedUrl}}')
