template(name="slideUpMenu")
  #slide-up-menu.block-center.text-center
    h3 SwipeUP!
    hr
    button(class="btn default") share
    button(class="btn default") edit
    button(class="btn default") remove
    button(class="btn default") VR mode

    
    h3 title
    div user's picture and name(who uploaded the picture)
    pre Explan about picture.  Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.

    input(type="text" placeholder="type coment") 
    div comment1 hey this is really nice picture!
    div comment2 nah I don't like it.
    div comment3 wow where is that?
    div comment3 wow where is that?
    div comment3 wow where is that?
    div comment3 wow where is that?
    div comment3 wow where is that?
    div comment3 wow where is that?
