template(name="slideUpMenu")
  #slide-up-menu.block-center.text-center
    #slide-up-handle
      <span>Swipe Up!</span>
      hr
    #scrollable
      button.btn.btn-primary.btn-xs(data-toggle='modal', data-target='#shareModal') Share
      button(class="btn default") Edit
      button(class="btn default") Remove
      button(class="btn default") VR mode

      
      h3 title
      div user's picture and name(who uploaded the picture)
      pre Explan about picture.  Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.Explan about picture.

      input(type="text" placeholder="type coment") 
      div comment1 hey this is really nice picture!
      div comment2 nah I don't like it.
      div comment3 wow where is that?
      div comment3 wow where is that?
      div comment3 wow where is that?
      div comment3 wow where is that?
      div comment3 wow where is that?
      div comment3 wow where is that?

  #shareModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.text-center Share
          hr
          .btn-group(role='group').text-center.block-center
            +shareit
          br
          br
          br
          h4.text-center Embed
          hr
          input#embed-url-string(type='text', value='{{embedUrl}}')
