template(name="headerMobile")
  #top-mobile-nav-bar.black
    .row
      .col.s4.col-force-padding-zero
        a.waves-effect.waves-light(href="/")
          img#logo(src="/images/logo.jpg")
      .col.s1.offset-s4.col-force-padding-top
        a.inpage-buttons(href="/upload")
          i.material-icons.small.white-text add
      .col.s1.col-force-padding-top
        a.inpage-buttons.header-modal-trigger(href="#notification-modal")
          i.material-icons.small.white-text textsms 
          if unreadNotificationCount
            span.red.circle.noti-count
              | {{unreadNotificationCount}}
      .col.s1.col-force-padding-top
        if isLoggedIn
          a.inpage-buttons(href="/mypage")
            i.material-icons.small.white-text perm_identity 
        else
          a.account-button.inpage-buttons
            i.material-icons.small.white-text perm_identity 

  #notification-modal.modal
    .modal-content.centered-text
      h6 Notificaions
      br
      +notifications
