template(name="layoutMobile")
  +Scene
    +Node
      +DOMElement
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        +headerMobile
        .container
          +yield

      +SlideDownWindow id="login-form"        
        +DOMElement
          +login
      +SlideDownWindow id="register-form"            
        +DOMElement
          +register
      +SlideDownWindow id="forgot-password"            
        +DOMElement
          +forgotpassword
      +SlideDownWindow id="reset-form"            
        +DOMElement
          +resetpassword

      +SlideUpWindow id="slide-up-menu"
        +DOMElement
          +slideUpMenu
      
      +LoadingBox id="loading-box"
        +DOMElement
          #loading-box
            div Loading...
        
