template(name="placesMobile")
  .location-list  
    .collection
      each locations
        a.collection-item.centered-text(href="/locations/posts?country={{country}}&city={{city}}")
          | {{country}}
          | {{state}}
          | {{city}}
          br
          | ({{count}})
