template(name="PostsMobile")
  .row
    each posts
      if postsOptions
        with postsOptions
          +postMobile 
      else
        +postMobile

template(name='postMobile')
  .col.s4
    .thumbnail-box
      a(href="/posts/{{_id}}")
       .loading-bg
         img.circle.responsive-img(src='{{thumbUrl imageId isVideo}}' data-src="/images/loading.gif")
       .post-info
         table
           tr
             if $not hideUserThumbnail
               th(rowspan='2')
                 .right
                   +profileImage user
             if title
               td
                 | {{title}}
           if $not hideUserThumbnail
             tr
               td
                 | {{user.username}}
