template(name="uploadMobile")
  .row
    form#upload-files.col.s12
      .row
        .input-field.col.s12
          +inputAutocomplete settings=autoCompleteSetting id="albumTitle" 
          label.activates(for="albumTitle") Tags 
          input#albumIds(type="hidden" name="albumIds" value="{{albumIds}}")
          .tags
            each albums
              .chip
                | {{title}}
                i.material-icons.close(data-id=_id) close

      .row
        .file-field.input-field.col.s12
          .btn
            span#upload-btn-label Select files to upload(MAX: 10 files)
            input#file-upload(type="file" name="files-select" multiple)


template(name="autoTemplate")
  span.label.black-text
    | {{title}}

template(name="noMatch")
  if(canCreateAlbum)
    span.label.black-text
      | Couldn't find album '{{typedText}}'. Do you want to create it?
      button#create-album.btn.btn-tiny.green
        | Create
      
