template(name="uploadMobile")
  .row
    .row
      .col.s12
        +addressForm
    form#upload-files.col.s12
      .row
        .input-field.col.s12
          +tagAutocomplete
      .row
        .file-field.input-field.col.s12
          .btn
            span#upload-btn-label Select files to upload(MAX: 10 files)
            input#file-upload(type="file" name="files-select" multiple)
            

template(name="addressForm")
  +autoForm schema=formSchema id="address-form" type="method" meteormethod="none" 
    +afQuickField name="address" type="googleplace" opts=optsGoogleplace
