template(name="profileImage")
  .profile-image.fill
    if uploadedProfileImageUrl
      img.width-fill.circle(src="{{uploadedProfileImageUrl}}", width="100")
    else
      if snsProfileImageUrl
        img.circle(src="{{snsProfileImageUrl}}")
      else
        span.username-profile.fill(style="color: {{textColor}}") 
          | {{firstLetterOfUsername}}
