template(name="placesMobile")
  .row
    .col.s12.location-list  
      .collection
        each locations
          a.collection-item.centered-text(href="/locations/posts?country={{country}}&city={{city}}{{userId}}")
            | {{getCountryName country}}
            | {{state}}
            | {{city}}
            br
            | ({{count}})
